{{!< default}}

<main id="gh-main" class="buba-home">
    {{> "buba/home-hero"}}
    {{> "buba/home-feature"}}
    {{> "buba/home-topics"}}
    {{> "buba/home-latest"}}
    {{> "buba/home-final"}}
</main>
